<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OperatorRegistration.Properties.Settings.secdivConnectionString"
      connectionString="Data Source=DEVSERVER\DBIDSOPER;Initial Catalog=secdiv;User ID=security;Password=security"
      providerName="System.Data.SqlClient" />
    <add name="OperatorRegistration.Properties.Settings.secdivConnectionString2"
      connectionString="Data Source=localhost\DBIDSOPER;Initial Catalog=secdiv;User ID=sa;Password=security"
      providerName="System.Data.SqlClient" />
    <add name="OperatorRegistration.Properties.Settings.secdivConnectionString1"
      connectionString="Data Source=localhost\DBIDSOPER34;Initial Catalog=secdiv;User ID=sa;Password=security"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
